<!-- Top navigation -->

  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer class="sidenav" fixedInViewport>
          <mat-nav-list>
            <mat-list-item>
              <a mat-line routerLinkActive="active" routerLink="/profile">
                <mat-icon>account_circle</mat-icon>
                <span>User Profile</span>
              </a>
            </mat-list-item>
            <!-- Calling SignOut() Api from AuthService -->
            <mat-list-item>
              <a mat-line (click)="authService.SignOut()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Log out</span>
              </a>
            </mat-list-item>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <!-- Main content -->
          <main role="main" class="main-content">
            <div class="inner-adjust">
              <div class="pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">User Profile</h1>
              </div>
              <!-- Show user data when logged in -->
              <div class="row" *ngIf="authService.userData as user">
                <div class="col-md-12">
                  <div class="media">
                    <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                      alt="{{user.displayName}}">
                    <div class="media-body">
                      <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                      <p>User ID: <strong>{{user.uid}}</strong></p>
                      <p>Email: <strong>{{user.email}}</strong></p>
                      <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
