<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign In</h3>
      <mat-form-field class="formGroup">
        <input matInput type="text" placeholder="Email" #userName required>
      </mat-form-field>
      <mat-form-field class="formGroup">
        <input matInput type="password" placeholder="Password" #userPassword required>
      </mat-form-field>
      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <button mat-raised-button color="primary" (click)="authService.SignIn(userName.value, userPassword.value)" >Log in</button>
      </div>
      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button mat-raised-button color="accent" (click)="authService.GoogleAuth()">
          <mat-icon svgIcon="google"></mat-icon>
          Log in with Google
        </button>
      </div>
      <div class="forgotPassword">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Don't have an account? <a class="redirect" routerLink="/register-user">Sign Up</a></span>
    </div>
  </div>
</div>