mat-grid-tile {
    height: auto;
    width: auto;
    background-color: #101e69;
  }



.img {
    height:"400 px";
    width:"400 px";
}
.h3 {
    position: fixed;
    bottom: 5px;
    text-align: center;
}

